*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFEE63;
    border: 0;
    margin: 0;
    padding: 0;
}
.list{
    background-color: #FFF6BF ;
    width: 100%;
    height: 100px;
}
a.kanan{
    float: right;
}
a.kiri{
    float: left;
}
/* header .list h1{
    float: left;
    padding: 5px;
    color: black;
    font-family: serif;
    font-size: 50px;
} */
/* header ul {
    float: right;
    background-color: #FFF6BF;
}
header ul li{
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #FFEE63;
    color: #3764cd;
} */
.label{
    background: #FFEE63;
    margin: 66px auto;
    color: #2155CD;
    text-align: center;
    width: 1350px;
    height: 850px;
    font-size: 15px;
    font-family: cursive;
}
.label img{
    width: 350px;
    border-radius: 200px;
    padding-left: 280px;
}
.label h2{
    background-color: #FFF6BF;
    width: 80px;
    height: 100px;
    font-family: helvetica now;
    padding-left: 50px;
}
.label h2:hover{
    background-color: #FFEE63;
    color: #3764cd;
}
.container{
    margin: auto;
    font-size: small;
    width: 100%;
    border: 1px solid black;
    font-family: brooklyn;
}
.container h3{
    padding-top: 20px;
    font-family: helvetica now;
    font-size: 30px;
    color: black;
}
/* .kolom{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-family: serif;
} */
.kiri{
    color: black;
    /* float: right; */
    /* margin: 40px auto; */
    width: 100%;
    font-size: 20px;
    /* height: 200px; */
}
.kanan{
    color: black;
    width: 100%;
    font-size: 20px;
    /* height: 100px; */
    /* display: flex; */
}
.aset{
    background-color: #3764cd;
    width: 1720x;
    height: 300px;
}
.aset img{
    margin: auto;
    width: 200px;
    height: 200px;
    padding-left :100px;

}
.aset h4{
    color: #FFEE63;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}
